[
  {
    "avatar_addr": "0xRecipientAvatarAddr",
    "fav_data": [
      {
        "balanceAddr": "0xRecipientAgentAddr",
        "value": {
          "currencyTicker": "CURRENCY_TICKER_STRING",
          "value": "UNLOAD_VALUE"
        }
      }
    ],
    "item_data": [
      {
        "fungibleId": "FungibleIdDigestString",
        "count": 0
      }
    ]
  },
  {
    "avatar_addr": "0x388F69d5692F8b0A7A64076FFEbe97E499572867",
    "fav_data": [
      {
        "balanceAddr": "0x5Cca7979be74514E69bfD754315a923Ca9575249",
        "value": {
          "currencyTicker": "CRYSTAL",
          "value": "1"
        }
      }
    ],
    "item_data": [
      {
        "fungibleId": "3991e04dd808dc0bc24b21f5adb7bf1997312f8700daf1334bf34936e8a0813a",
        "count": 1
      }
    ]
  }
]
