# App Settings
DEBUG = True
LOGGING_LEVEL = "DEBUG"

# Database
DB_URI = "postgresql://[ID]:[PW]@[HOST]/[DB_NAME]"
DB_ECHO = True

# Receipt Validation
GOOGLE_VALIDATION_URL = ""
APPLE_VALIDATION_URL = ""
